<%= form_for @user, url: { action: "check" }, html: { class: "reg_form" }  do |f| %>
<p> Name:</br> <%= f.text_field :login %> </p>
<p> Password:</br> <%= f.password_field :password %> </p>
<p> <%= submit_tag "Log in" %> </p>
<% end %>