
<div class="row">
<div class="col-md-9 col-md-offset-3 main">
	<div class="table-responsive">
	<table class="table table-stripped">
		<tr>
			<th>Name</th>
		</tr>
		<% @companies.each do |c| %>
			<tr>
				<td><%= c.name %> </td>
			</tr>
		<% end %>
	</table>
</div>
</div>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
  	<div class="btn-group">
  		<button type="button" class="btn btn-primary">Add</button>
  		<button type="button" class="btn btn-primary">Edit</button>
  		<button type="button" class="btn btn-primary">Remove</button>
  	</div>
  </div>
</div>